*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
body{
    margin: 0;
    overflow: hidden;
}
/* sidebar */
.sidebar .css-dip3t8{
    background-color: #1F263E;
    color: #fff;
   border-top-right-radius: 58px;

}
.sidebar .css-1wvake5{
    border: none;
}


.sidebar .ps-menu-button{
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}
.sidebar .css-1t8x7v1 >.ps-menu-button:hover{
    background: #00924D1A;
    border-left: #009247 4px solid;

}
/* navBar */
.navbar-brand{
    width: 12%;
   
}
/* header */
.header{
    background-image: url('./assets/images/headerImg.svg');
    background-color: #009247;
    
}
/* dashBoard */
.mainContent{
    background-color: #F0FFEF;
    color: #000;    
    padding: 30px;
    margin-top: 20px;
}
.title-span{
    color: #009247;
}
/* categories */
.table .dropdown-toggle::after{
    display: none;
}
.btns-icon{
    color: #009247;
    cursor: pointer;
   
}
/* not found */
.notFound{
    background-image: url('./assets/images/NotFoundImg.svg');
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
   
}
.notFound-text{
    color: #009247;
}
/* recipes */
.recipeImage{
    width: 80px;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}
/* favorites */
.view{
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: #009247;
}
.favRecipe{
  box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.favRecipe img {
  width: 100%; 
  height: 200px; 
  object-fit: cover; 
}
.favRecipe .btns-icon{
     border: 1px solid #000;
}